.divFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #333333;
    padding: 20px;
    gap: 20px;

    .divFooter1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        align-items: center;

        .circlePicture {
            width: 300px;
            height: 300px;
            border: 3px solid white;
        }

        .navbar__btn {
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: space-evenly;
            height: 199px;
            font-weight: bold;
            /* background: pink; */

            .navbar__link {
                color: white;
                text-decoration: none;
                font-size: 24px;

                &--underline {
                    text-decoration-line: underline;
                }
            }
        }

        .socialNetwork {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 10px;
            padding: 18px;
            border: 3px solid white;

            .buttonLinkedIn {
                border: none;
                background: none;
                cursor: pointer;
                transition: transform 0.2s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }

                &:focus {
                    transform: scale(1.1);
                }
            }

            span {
                color: white;
                font-size: 15px;
                font-weight: bold;
            }
        }
    }

    .divFooter2 {
        // background-color: blue;
        width: 100%;

        .divFooter__copyright {
            color: white;
            font-size: 12px;
        }
    }
}

/* Desktop / tablette*/
@media (min-width: 768px) {
    .divFooter {
        justify-content: center;
        gap: 10px;

        .divFooter1 {
            flex-direction: row;
            align-items: center;

            .navbar__btn {
                height: 70px;

                .navbar__link {
                    font-size: 10px;
                }
            }

            .socialNetwork {
                gap: 10px;
            

                .buttonLinkedIn img {
                    width: 100%;
                }

                span {
                    font-size: 18px;
                }

                button {
                    font-size: 13px;
                }
            }

            .circlePicture {
                display: none;
            }
        }

        .divFooter2 {
            .divFooter__copyright {
                font-size: 12px;
                width: 130px;
            }
        }
    }
}